body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

a {
	text-decoration: none;
}

.header_button {
	width: 100%;
	background-color: #000;
	position: fixed;
	top: 0;

	.el-menu {
		background-color: transparent;
		border: none;
	}

	.el-menu-item {
		display: inline-block;

		&:hover,
		&:focus {

			background-color: transparent;
		}
	}
}

.container {
	background-color: #ccc;
}