$white: #eff3f5;
$MainColor: #7029b6;

body {
	letter-spacing: 1px;
	box-sizing: border-box;
	font-size: 1em;
	color: #434343;
	overflow: hidden;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;

	* {
		padding: 0;
		margin: 0;
		font-weight: normal;
		text-decoration: none;
		list-style: none;
	}

	a {
		cursor: pointer;
	}
}

body,
#app {
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
}

.project_container {
	flex-direction: column;
	position: relative;

	// header 文字按鈕
	.header_button {
		box-shadow: 0px 2px 4px #33333330;
		// border-bottom: 1px solid #333;
		// background-image: linear-gradient(to right, #434343 0%, black 100%);
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;

		.el-menu {
			background-color: transparent;
			border: none;

			.el-menu-item {
				color: #333;
				display: inline-block;

				&:hover,
				&:focus {
					background-color: transparent;
				}
			}

			.el-menu-item.is-active {
				color: $MainColor;
			}
		}
	}

	// App.vue的router-view
	.el-main {
		margin-top: 56px;
		height: calc(100vh - 56px);
		display: flex;
		overflow: hidden;
		padding: 0;

		.container {
			overflow-y: scroll;
			flex: 1 1 0;
			padding: 50px 0;
		}
	}
}

// 熱門歌單

ul.PopularList {
	width: 100%;
	margin: 20px 0;

	li {
		display: flex;
		align-items: center;

		.Playlist_images {
			flex: 1;
			height: auto;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				overflow: hidden;
			}

			.images {
				width: 100%;
				height: 100%;
				display: inline-block;
			}
		}

		.Playlist_text {
			flex: 2;
			margin-left: 30px;

			h3 {
				font-size: 4em;
				margin: 10px 0;
				font-weight: 800;
				color: $MainColor;
				border-bottom: 5px solid $MainColor;
			}

			p {
				font-size: 14px;
				line-height: 2em;
				width: 70%;
			}

			a {
				display: inline-block;
				// border-radius: 30px;
				clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
				background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
				background-color: $MainColor;
				color: $white;
				margin-top: 10px;
				padding: 10px 30px;

			}

			a:hover {
				background-image: linear-gradient(135deg, #6536a3 0%, #38214d 100%);
			}
		}
	}
}

ul:nth-child(even) {
	li {
		.Playlist_images {
			order: 2;
		}

		.Playlist_text {
			order: 1;
		}
	}
}

// 歌單
ul.Playlist {
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	border-bottom: 1px solid $MainColor;

	li {
		text-align: center;
		flex: 1;

		img {
			width: 100%;
			height: auto;
			cursor: pointer;
		}
	}

	li:nth-child(2),
	li:nth-child(1) {
		flex: 2;
	}

	li:nth-child(2) {
		text-align: left;
		margin-left: 20px;
	}

	li:nth-child(4) {
		cursor: pointer;
	}
}

// 主題歌單 - 類別

div.MainListCategories {

	div {
		display: inline-block;
		width: calc(25% - 2px);
		position: relative;
		overflow: hidden;
		margin: 0 1px;
		margin-bottom: -4px;
		cursor: pointer;

		img {
			width: 100%;
		}

		h1 {
			text-shadow: 0 0 5px #000;
			font-weight: 500;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #fff;
		}
	}
}

// 主題歌單 - 類別下歌單列表
ul.MainCategoryList {
	vertical-align: top;
	width: 50%;
	display: inline-block;
	border-radius: 10px;

	li {
		margin-bottom: -3px;

		.Playlist_images {
			width: 100%;
			overflow: hidden;
			position: relative;

			img {
				width: 100%;
				height: auto;
			}

			a {
				clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
				position: absolute;
				bottom: 30px;
				left: 30px;
				background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
				color: $white;
				padding: 10px 30px;

			}

			a:hover {
				background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
			}

		}

		.Playlist_text {
			padding: 30px;

			h3 {
				font-size: 2em;
				font-weight: 900;
				margin-bottom: 10px;
			}

			p {
				text-align: left;
				font-size: 12px;
				margin-bottom: 10px;
				line-height: 2em;
			}
		}

	}


}

// 頁碼
.block {
	margin-top: 50px;
	text-align: center;
	width: calc(100vw - 15px);

	.el-pagination {
		button {
			display: inline-block;
			vertical-align: middle;
			background-color: transparent;
		}

		ul.el-pager {
			vertical-align: middle;
			width: auto;
			display: inline-block;

			li {
				vertical-align: middle;
				display: inline-block;
				background: transparent;
			}

			.number.active,
			.number:hover {
				color: $MainColor;
			}
		}

		.el-pager:hover li.el-icon.more,
		.btn-prev:hover,
		.btn-next:hover {
			color: $MainColor;
			;
		}
	}
}

// 專輯
.Album {
	margin: 0 50px;
	text-align: center;

	img {
		width: 30%;
		height: auto;
	}

	h1 {
		color: $MainColor;
		font-weight: 700;
		font-size: 2em;
		margin: 15px 0;
	}

	span {
		display: inline-block;
		margin-bottom: 15px;
		font-size: 12px;
	}

	p {
		cursor: pointer;
		font-size: 1em;
		margin-bottom: 50px;
		font-weight: 500;
	}

	ul {
		width: 60%;
		display: flex;
		margin: 0 auto;
		padding: 15px;
		border-bottom: 1px solid #dcdfe6;

		li {
			flex: 1;
			font-size: 12px;
		}

		li:nth-child(2) {
			flex: 2;
		}
	}
}

// 歌手

.Artist {
	margin: 0 50px;
	text-align: center;

	.Artist_name {
		color: $MainColor;
		font-size: 1em;
		font-weight: 700;
		margin: 15px 0 30px 0;
	}

	.el-col {
		margin: 10px 30px;

		.el-card {
			height: 300px;

			.el-card__body {
				padding: 0;

				img {
					width: 100%;
					height: auto;
				}
			}

			.el-card-text {
				padding: 15px 15px 18px 15px;
				margin-bottom: -5px;

				h1 {
					font-size: 1em;
					color: $MainColor;
				}

				span {
					font-size: 12px;
					display: inline-block;
					margin-top: 10px;
				}
			}
		}
	}
}