body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

a {
	text-decoration: none;
	;
}

.el-aside {
	padding: 20px;
	width: 250px;
	background-color: rgb(238, 241, 246);

}

// 頁碼
.block {
	text-align: center;
	margin-top: 50px;

	.el-pagination {

		button {
			display: inline-block;
			vertical-align: middle;
		}

		ul {
			vertical-align: middle;
			width: auto;
			display: inline-block;
			margin: 0;
		}
	}
}

// 列表表格

.el-main {

	ul {
		margin: 0 auto;
		width: 70%;
		color: #333;
		display: flex;
		list-style: none;
		padding-left: 0;
		border-bottom: 1px solid rgb(238, 241, 246);
		align-items: center;

		li {
			flex: 1;
			margin: 15px;

			img {
				width: 150px;
			}
		}
	}
}

.el-container {
	height: 100vh;

	.el-card {
		margin: 15px;

		.el-card__body {
			cursor: pointer;

			.el-card-text {
				height: 165px !important;
				padding: 15px;
			}
		}

		img {
			width: 100%;
			height: auto;
		}

		.el-card-text {
			h1 {
				padding: 0;
				margin: 0;
				margin-bottom: 8px;
				font-size: 18px;
				color: #d63636;
			}

			span {
				font-size: 14px;
				color: #595959;
			}
		}
	}

	.el-table {
		margin: 0 auto;
	}
}